.status-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.status-container form {
  width: 50%;
  display: flex;
  flex-direction: column;
  label {
    margin-top: 1.5rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

select,
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.date-time {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  background-color: #149ee8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  align-self: center;
  margin-top: 1rem;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: #96aab5;
  opacity: 1;
  cursor: default;
}
